[Desktop Entry]
Encoding=UTF-8
Name=system
Exec=antix-system.sh
Icon=applications-system
Terminal=false
Type=Application
Categories=System;
NoDisplay=True
